<a href="https://colab.research.google.com/github/bigbossthecat/ml-learn/blob/master/intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Learning Panda**

In [0]:
from __future__ import print_function

import pandas as pd
pd.__version__

'0.22.0'

**Creating a Series Object, i.e., a column and create a Table (Data frame) from multiple columns **

In [0]:
city_names = pd.Series (['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series ([852469,1015785, 485199])
pd.DataFrame ({'City Name': city_names, 'Population': population})

       City Name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199